/.gradle/
/.idea/
/local.properties
/.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
proguard/
*.log
*.iml
.navigation/
captures/
*.keystore
google-services.json
*.hprof
